# Importing

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path= r'C:\Users\evras\Desktop\Project A6\01 Data'

In [3]:
df_bnb=pd.read_csv(os.path.join(path,'01 Original','AB_US_2020.csv'))

C:\Users\evras\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_bnb.shape

(226029, 17)

In [5]:
#getting an idea of what we're looking at here
df_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

# Checking for nulls

In [6]:
#this will see where they are. I have a good idea of at least one column because of the preview earlier but let's check
df_bnb.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115844
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [7]:
#so my guess here is that the nulls that are showingg up are probably related to the last_review column.
#if you look up to the first time I did .info() you'll see that last_review and reviews_per_month have the same non-null counts
#this suggests a corelation. My guesss is, if there was never a previous review then the per month value would be 0, but got left blank.

#this line will filter out all the non-null results in the reviews_per_month column, so we can look and see if I'm right
df_bnb.query('reviews_per_month != reviews_per_month')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
187,6775949,Cozy Cottage short walk to Downtown,35473023,Sherri,NaN,28801,35.603350,-82.551660,Entire home/apt,86,30,0,NaN,NaN,2,344,Asheville
286,12182918,MONTHLY - Grove Park - Charming Guest House,183656,Kim,NaN,28804,35.611640,-82.541670,Entire home/apt,72,30,0,NaN,NaN,1,107,Asheville
416,15359380,"5 Points Bungalow, Your Home in Asheville",3677108,Charles & Cheryl,NaN,28801,35.603880,-82.557270,Entire home/apt,214,30,0,NaN,NaN,3,327,Asheville
629,20255923,Sunrise Perch - High on a mountain & close-in,144357357,Sunrise,NaN,28806,35.585310,-82.642690,Private room,39,1,0,NaN,NaN,1,83,Asheville
720,21513021,2 Bedroom Condo blocks to Downtown Asheville,21500666,Rory,NaN,28801,35.601790,-82.555900,Entire home/apt,200,30,0,NaN,NaN,1,178,Asheville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226024,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,NaN,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99,Washington D.C.
226025,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,NaN,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300,Washington D.C.
226026,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,NaN,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173,Washington D.C.
226027,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,NaN,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362,Washington D.C.
226028,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,NaN,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62,Washington D.C.

In [8]:
#that's promising. I want to do a quick value count on number_of_reviews just to be safe
#to do that I'll set the query to it's own frame and run a value_counts after
df_bnb_rev=df_bnb.query('reviews_per_month != reviews_per_month')

In [9]:
#now for the count, I want a result that looks like 0  48602
df_bnb_rev['number_of_reviews'].value_counts()

0    48602
Name: number_of_reviews, dtype: int64

In [10]:
# well, looks right. Cool beans.
# So we'll get rid of the rev frame bevause we don't need it
del(df_bnb_rev)

In [11]:
df_bnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226029 entries, 0 to 226028
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226029 non-null  int64
 1   name                            226001 non-null  object
 2   host_id                         226029 non-null  int64
 3   host_name                       225996 non-null  object
 4   neighbourhood_group             110185 non-null  object
 5   neighbourhood                   226029 non-null  object
 6   latitude                        226029 non-null  float64
 7   longitude                       226029 non-null  float64
 8   room_type                       226029 non-null  object
 9   price                           226029 non-null  int64
 10  minimum_nights                  226029 non-null  int64
 11  number_of_reviews               226029 non-null  int64
 12  last_review                     177427 non-null  object
 13  reviews_per_month               177427 non-null  float64
 14  calculated_host_listings_count  226029 non-null  int64
 15  availability_365                226029 non-null  int64
 16  city                            226029 non-null  object
dtypes: float64(3), int64(7), object(7)
memory usage: 29.3+ MB

### Getting rid of the null values

In [12]:
# I'll go ahead and replace the nulls in reviews_per_month with 0
# I think I'll change last_reveiw to None, just to avoid confusion.
# Also of note is that there are missing values in name and host_name
# I'll leave host_name alone because I'm dropping that column, but name I'll drop the nulls for, it's only 28.

In [13]:
#first the nulls un reviews_per_month
df_bnb['reviews_per_month'].fillna("None",inplace=True)

In [14]:
#checking that it worked
df_bnb.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115844
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                      0
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [15]:
df_bnb['reviews_per_month']=df_bnb['reviews_per_month'].replace("None",'0')

In [16]:
df_bnb['reviews_per_month'].value_counts()

0        48602
0.03      2836
0.02      2758
0.08      2525
0.04      2482
         ...
19.27        1
17.26        1
20.74        1
21.16        1
11.79        1
Name: reviews_per_month, Length: 1243, dtype: int64

In [17]:
df_bnb['last_review'].fillna("None", inplace=True)

In [18]:
#next will be last_review.
df_bnb['last_review'].value_counts(dropna=False)

None         48602
15/03/20      2915
7/9/2020      2080
8/3/2020      1989
23/08/20      1929
             ...
13/02/16         1
22/01/14         1
5/11/2014        1
30/10/14         1
8/7/2014         1
Name: last_review, Length: 2378, dtype: int64

In [19]:
#Checking
df_bnb.isnull().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115844
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                            0
reviews_per_month                      0
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

In [20]:
# OK, same deal. None needs to be 115845
df_bnb['neighbourhood_group'].fillna("None",inplace=True)

In [21]:
df_bnb['neighbourhood_group'].value_counts(ascending=True)

Interbay                    34
Seward Park                 69
Bristol                    107
Kent                       108
Lake City                  118
Magnolia                   132
Northgate                  150
Delridge                   201
University District        238
Beacon Hill                252
Cascade                    268
Staten Island              326
Rainier Valley             357
Ballard                    369
West Seattle               378
Queen Anne                 459
Central Area               572
Capitol Hill               682
Downtown                  1043
Providence                1056
Bronx                     1185
Washington                1201
Other neighborhoods       1253
Newport                   1412
Unincorporated Areas      2529
Kauai                     3247
Hawaii                    4977
Queens                    5746
Honolulu                  6313
Maui                      7897
Other Cities             11463
City of Los Angeles      17544
Brooklyn                 18263
Manhattan                20236
None                    115844
Name: neighbourhood_group, dtype: int64

In [22]:
#awesome

In [23]:
df_bnb.isnull().sum()

id                                 0
name                              28
host_id                            0
host_name                         33
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
city                               0
dtype: int64

In [24]:
#ok, that leaves name and host_name
#I'm going to go ahead and drop the missings in name first
# I was trying to just do dropna but for some reason it got rid of everything so we'll do it the long way
df_bnb_2=df_bnb[df_bnb['name'].isnull()==False]

In [25]:
#just to make sure
df_bnb_2.isnull().sum()

id                                 0
name                               0
host_id                            0
host_name                         33
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
city                               0
dtype: int64

In [26]:
#cool, now we'll just set the old from equal to the new frame and we'll be all set
df_bnb=df_bnb_2

In [27]:
df_bnb.isnull().sum()

id                                 0
name                               0
host_id                            0
host_name                         33
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
city                               0
dtype: int64

In [28]:
# Ok, moving on.
# While there is definetly an arugment to made here that since this is all public listings theres is no privacy concerns
# I'd rather err on the side of caution, so I'll just drop the host_name column at the end.

# Checking for data type consistency

In [29]:
#Let's take a look at where everything is at to begin with and work down from there.
df_bnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226001 entries, 0 to 226028
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226001 non-null  int64
 1   name                            226001 non-null  object
 2   host_id                         226001 non-null  int64
 3   host_name                       225968 non-null  object
 4   neighbourhood_group             226001 non-null  object
 5   neighbourhood                   226001 non-null  object
 6   latitude                        226001 non-null  float64
 7   longitude                       226001 non-null  float64
 8   room_type                       226001 non-null  object
 9   price                           226001 non-null  int64
 10  minimum_nights                  226001 non-null  int64
 11  number_of_reviews               226001 non-null  int64
 12  last_review                     226001 non-null  object
 13  reviews_per_month               226001 non-null  object
 14  calculated_host_listings_count  226001 non-null  int64
 15  availability_365                226001 non-null  int64
 16  city                            226001 non-null  object
dtypes: float64(2), int64(7), object(8)
memory usage: 31.0+ MB

In [30]:
#no to highlight the ones that are mixed
for col in df_bnb.columns.tolist():
    weird=(df_bnb[[col]].applymap(type)!=df_bnb[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_bnb[weird])>0:
        print(col)

host_name
reviews_per_month

In [31]:
#so now I know what is mixed and I can assess the other ones for what I want to change if I need to
#To be changed ... id, name, host_id, host_name, neighbourhood_group, last_review. They all need to be strings.
df_bnb=df_bnb.astype({'id':'str', 'name':'str', 'host_id':'str', 'host_name':'str', 'neighbourhood_group':'str', 'last_review':'str', 'reviews_per_month':'float64'})

In [32]:
#ok now to check and make sure we're in the clear on that.
for col in df_bnb.columns.tolist():
    weird=(df_bnb[[col]].applymap(type)!=df_bnb[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_bnb[weird])>0:
        print(col)

In [33]:
df_bnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226001 entries, 0 to 226028
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              226001 non-null  object
 1   name                            226001 non-null  object
 2   host_id                         226001 non-null  object
 3   host_name                       226001 non-null  object
 4   neighbourhood_group             226001 non-null  object
 5   neighbourhood                   226001 non-null  object
 6   latitude                        226001 non-null  float64
 7   longitude                       226001 non-null  float64
 8   room_type                       226001 non-null  object
 9   price                           226001 non-null  int64
 10  minimum_nights                  226001 non-null  int64
 11  number_of_reviews               226001 non-null  int64
 12  last_review                     226001 non-null  object
 13  reviews_per_month               226001 non-null  float64
 14  calculated_host_listings_count  226001 non-null  int64
 15  availability_365                226001 non-null  int64
 16  city                            226001 non-null  object
dtypes: float64(3), int64(5), object(9)
memory usage: 31.0+ MB

In [34]:
#Next up...

# Checking for duplicates

In [35]:
#The best way to cut out duplicates might be to just find them in the id section, since those should be unique
#first we'll isolate the duplicates in thier own frame
df_bnb_dubs = df_bnb[df_bnb['id'].duplicated()]
df_bnb_dubs.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
27734,43806155,Beautiful 14th floor view mins from MGH - Evonify,212359760,Evonify,None,East Cambridge,42.36461,-71.06792,Entire home/apt,299,13,0,None,0.0,1,0,Cambridge

In [36]:
#cool, now to get rid of it.
df_bnb_3=df_bnb.drop_duplicates(subset=['id'])

In [37]:
#make sure thats all I got rid of...
df_bnb_3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,None,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,None,28801,35.59779,-82.55540,Entire home/apt,470,1,114,7/9/2020,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,None,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,None,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,None,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [38]:
#looks good!
#now we just set the old to the new and get rid of number 3
df_bnb=df_bnb_3
del(df_bnb_3)

# Final adjustments

In [39]:
#so now is the phase where I go through and clean up columns names if need be, or drop some I don't need or want to get rid of for privacy reasons
#also any last second check I want to do

In [40]:
#for example, I'm curious if the host_id column has any repeats, as well as the name
df_bnb['host_name'].value_counts(ascending=True)

Pokkyy                1
Martez                1
Neil And Corrie       1
Mimsie                1
Ima                   1
                   ...
Blueground         1172
Zeus               1217
John               1418
David              1656
Michael            2025
Name: host_name, Length: 30531, dtype: int64

In [41]:
#ok so now we'll cheeck id's
df_bnb['host_id'].value_counts(ascending=True)

90165316        1
202344661       1
158587384       1
11236598        1
33442263        1
             ...
30283594      332
8534462       582
359036978     593
107434423    1172
48005494     1215
Name: host_id, Length: 130400, dtype: int64

### Dropping columns

In [42]:
#so an important thing to note here I think is the host_id is more than 4x the size of host_name
#This suggests to me that somehow some hosts are getting more than one id.
#I looked at the original csv for this real quick
#So, Blueground for example has 1172 occurances, and just as many ids (107434423)
#However Zues has 1217 occurances as has TWO ids (37244130(2 occurances) and 48005494 (1215 occurances))
#It is very possible that it is simply a matter of Airbnb not requiring unique Usernames
#All the more reason to drop it, honestly.
#I'm going to drop the host_name
df_bnb=df_bnb.drop(columns=['host_name'])

### Renaming Columns

In [43]:
#I am also going to change id and name to listing_id and listing_name to better represent what they are
df_bnb=df_bnb.rename(columns={'id':'listing_id','name':'listing_name'})

In [44]:
df_bnb.columns

Index(['listing_id', 'listing_name', 'host_id', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

### Rearranging Columns

In [45]:
#one last thing is that I don't like having city all the way at the end of the frame so we'll put that between longitude and room_type
df_bnb=df_bnb[['listing_id', 'listing_name', 'host_id', 'neighbourhood_group', 'neighbourhood',
               'latitude', 'longitude', 'city', 'room_type', 'price', 'minimum_nights','number_of_reviews',
               'last_review', 'reviews_per_month','calculated_host_listings_count', 'availability_365']]

In [46]:
#ok let's take a look at what we've got
df_bnb.head()

,listing_id,listing_name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,city,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,None,28804,35.65146,-82.62792,Asheville,Private room,60,1,138,16/02/20,1.14,1,0
1,80905,French Chic Loft,427027,None,28801,35.59779,-82.55540,Asheville,Entire home/apt,470,1,114,7/9/2020,1.03,11,288
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,None,28801,35.60670,-82.55563,Asheville,Entire home/apt,75,30,89,30/11/19,0.81,2,298
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,None,28806,35.57864,-82.59578,Asheville,Entire home/apt,90,1,267,22/09/20,2.39,5,0
4,160594,Historic Grove Park,769252,None,28801,35.61442,-82.54127,Asheville,Private room,125,30,58,19/10/15,0.52,1,0

# Exporting

In [47]:
#OK, so now we'll go ahead and export it. We'll do it as a pickle for the sake of space and speed later on
df_bnb.to_pickle(os.path.join(path,'02 Altered','us_airbnb_2020_clean.pkl'))

In [48]:
df_bnb.shape

(226000, 16)

In [49]:
df_bnb.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,226000.000000,226000.000000,226000.000000,226000.000000,226000.000000,226000.000000,226000.000000,226000.000000
mean,35.662211,-103.223271,219.720097,10.126389,34.510748,1.123784,16.700611,159.325208
std,6.849969,26.222200,570.387886,25.166666,63.606045,1.603133,51.072045,140.177433
min,18.920990,-159.714900,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,32.761760,-118.598353,75.000000,1.000000,1.000000,0.040000,1.000000,0.000000
50%,37.259800,-97.817995,121.000000,2.000000,8.000000,0.420000,2.000000,140.000000
75%,40.724030,-76.922865,201.000000,7.000000,39.000000,1.620000,6.000000,311.000000
max,47.734620,-70.995950,24999.000000,1250.000000,966.000000,44.060000,593.000000,365.000000

In [50]:
df_bnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226000 entries, 0 to 226028
Data columns (total 16 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   listing_id                      226000 non-null  object
 1   listing_name                    226000 non-null  object
 2   host_id                         226000 non-null  object
 3   neighbourhood_group             226000 non-null  object
 4   neighbourhood                   226000 non-null  object
 5   latitude                        226000 non-null  float64
 6   longitude                       226000 non-null  float64
 7   city                            226000 non-null  object
 8   room_type                       226000 non-null  object
 9   price                           226000 non-null  int64
 10  minimum_nights                  226000 non-null  int64
 11  number_of_reviews               226000 non-null  int64
 12  last_review                     226000 non-null  object
 13  reviews_per_month               226000 non-null  float64
 14  calculated_host_listings_count  226000 non-null  int64
 15  availability_365                226000 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 29.3+ MB